footer {
	position: absolute;
	width: 100%;
	bottom: 0;
	height: 60px;
	background: $primary-color;
}

.logo {
	position: absolute;
	right: 10.5%;
	top: 26%;
	img {
		max-width: 150px;
		height: auto;
	}
}

.copyright {
	@include footerFont;
	position: absolute;
	left: 11.39%;
	bottom: 44%;
}
