header {
	position: relative;
	left: 0;
	top: 0;
	background: $primary-color;
	width: 100%;
	height: 60px;
	overflow: hidden;

	.logo {
		position: absolute;
		left: 10.76%;
		top: 24.29%;
		img {
			max-width: 150px;
			height: auto;
		}
	}

	.navbar {
		top: 0;
		left: 0;

		li {
			font-weight: bold;
			text-transform: uppercase;
			.item-name {
				&-help {
					@include navbarFont;
					position: absolute;
					top: 31.43%;
					right: 25.7%;
					padding-right: 0.7%;
					img {
						height: auto;
						max-width: 27%;
					}
				}
				&-signin {
					@include navbarFont;
					position: absolute;
					top: 31.43%;
					right: 16.45%;
					padding-right: 0.7%;
					img {
						height: auto;
						max-width: 27%;
					}
				}
				&-es {
					@include navbarFont;
					position: absolute;
					top: 31.43%;
					right: 10.76%;
					img {
						height: auto;
						max-width: 48%;
					}
				}
			}
		}
		ul {
			list-style-type: none;
		}
	}
}
